#RootPane {
    position:absolute;
    width: 100%;
    bottom:4px;
    top: 52px;
    -webkit-user-select: none;
    /*outline: 1px solid olive;*/
}

#TopPane {
}

#LeftPane {
    float: left;
    height: 100%;
}

#RightPane {
    float: left;
    height: 100%;
}

#LeftPaneContent {
    height: 100%;
    margin: 4px;
    margin-right:2px;
}

#RightPaneContent {
    height: 100%;
    margin: 4px;
    margin-left:2px;
}

#BottomPane {
    /*float: left;*/
    /*width:100%;*/
}

#BottomPaneContent {
    height: 100%;
    width: calc(100% - 8px);
    margin-left: 4px;
    margin-top: 8px;
    margin-bottom: 0px;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    background-color: rgba(0, 0, 0, 0.5);;
}


body > .container {
    /*padding: 60px 15px 0;*/
}

.container .text-muted {
    margin: 20px 0;
}

code {
    font-size: 80%;
}
