.ScrollableNumber {

    border:1px black solid;
    width:20px;
    height:20px;
    text-align:center;
    font-family:sans-serif;
    margin-top:1px;
    display:table;
    float:left;
    margin:1px;
}

.NumberDiv {

    display: table-cell;
    vertical-align: middle;
    -webkit-user-select: none;
    cursor:ns-resize;
}

#StartTimeRange {

    height:30px;
}

#StartTimeLabel {

    font-family:sans-serif;
}

#EndTimeRange {

    height:30px;
}

#EndTimeLabel {

    font-family:sans-serif;
}

#TimeSignature {

    height:30px;
}

#TimeSignatureLabel {

    font-family: sans-serif;
}

#Pianoroll {

    border:1px solid black;
    float:right;
    width:calc(100% - 155px);
    height:calc(100% - 20px);
    top: 0px;
    margin:10px;
}

#TimeProperties {

    float:left;
    padding-right:-10px;
}

#ButtonOverride div.btn.btn-default.btn-sm{

    cursor: ns-resize;
}


#ParentContainer {

    /*border:1px solid black;*/
    /*padding:10px;*/
    /*overflow:scroll;*/
/*bottom: 0%;*/width:100%;height: 100%;/* position:fixed; */}
