<link rel="import" href="../../bower_components/polymer/polymer.html"></link>

<dom-module id="piano-roll">
    <template>
        <link rel="stylesheet" href="piano-roll.css"></link>
        <div id="ParentContainer">
            <div id="TimeProperties">
                <div id="TimeSignature">
                </div>
                <br>
                <div id="TimeRange">
                </div>
            </div>
            <div id="Pianoroll">
            </div>
        </div>
    </template>
</dom-module>

<script src="HelperFunctions.js"></script>
<script src="ResizableDiv.js"></script>
<script src="TimeSignature.js"></script>
<script src="TimeRange.js"></script>
<script src="Pianoroll.js"></script>
