<link rel="import" href="../../bower_components/polymer/polymer.html"></link>

<dom-module id="piano-roll">
    <template>
        <link rel="stylesheet" href="piano-roll.css"></link>
        <div id='ResizableDiv'>
            <svg id='TimeAxisParent'>
                <g id='TimeAxisGroup' vector-effect="non-scaling-stroke" fill='none' stroke-width='1' stroke='black'></g>
            </svg>

            <svg id='FrequencyAxisParent'>
                <g id='FrequencyAxisGroup' vector-effect="non-scaling-stroke" fill='none' stroke-width='1' stroke='black'></g>
            </svg>
            <svg id='InteractionParent'>
                <g id='TransformState'></g>
                <g id='TimeRangeMask'>
                    <g id='TimeRangeGroup' vector-effect="non-scaling-stroke" fill='none' transform='translate(0, 0) scale(1, 1)'></g>
                </g>
            </svg>
        </div>
    </template>
</dom-module>

<script src="HelperFunctions.js"></script>
<script src="ResizableDiv.js"></script>
<script src="Interaction.js"></script>
<script src="Pianoroll.js"></script>
<script src="TimeAxis.js"></script>
<script src="TimeRange.js"></script>
<script src="FrequencyAxis.js"></script>
